@import "framework.css";

/* styling the header */
header#main-header {
  height: 100vh;
}

header .btn-header {
  font-size: 3vw
}

/* style the header */
.header-caption {
  margin-bottom: 40px;
}

/* style the form card */
.form-card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 13px 9px #131313;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 90%;
}

@media (max-width: 670px) {
  .form-card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 13px 9px #131313;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
  } 
}

/* style the form */
#regForm {
  width: 100%;
}

.form-card .form-fields {
  background-color: #1f2428;
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* style the heading of the form */
.form-card .h1 {
  background-color: #454c5e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

/* style the labels */
.form-card .field {
  margin-bottom: 20px;
}

.form-card .field .radio-block {
  display: flex;
}

.form-card .field .radio-block input {
  width: 10%;
  margin-bottom: 10px;
}

.form-card label {
  margin-bottom: 10px;
}

/* style the inputs */
.form-card input,
.form-card select,
.form-card textarea {
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #454c5e;
  outline: 0;
}

/* validation */
input.valid,
select.valid,
textarea.valid {
  border: 3px solid green;
}

input.invalid,
select.invalid,
textarea.invalid {
  border: 3px solid #bd2424;
}

/* style the validation message */
.validate-message {
 color: #bd2424;
 font-size: 1rem;
 margin-top: 6px;
 margin-left: 14px;
}

.form-card input:focus,
.form-card select:focus,
.form-card textarea:focus {
  border: 3px solid #0c68ab;
}

/* style the submit button */
.form-card input[type="submit"]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* modal style */
/* The Modal (background) */
.modal {
  display: none; /* hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  color: #000;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body img {
  max-width: 32%;
  height: auto;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* hide the question and show it on select */
.question,
.other,
.eng-dept,
.year {
  display: none;
}

/* change the color of the placeholder */
*::placeholder {
  color: #cccccc;
  color: #aaaaaa;
  font-family: monospace;
} 